<template bindable="router">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <i class="fa fa-home"></i>
        <span>${router.title}</span>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li repeat.for="row of router.navigation | authFilter: isAuthenticated" class="${row.isActive ? 'active' : ''}">
          <a data-toggle="collapse" data-target="#bs-example-navbar-collapse-1.in" href.bind="row.href">${row.title}</a>
        </li>
      </ul>

<!--       <ul if.bind="!isAuthenticated" class="nav navbar-nav navbar-right">
        <li><a href="/#/login">${'login' | t}</a></li>
        <li><a href="/#/signup">${'signup' | t}</a></li> 
      </ul> -->

      <ul if.bind="isAuthenticated" class="nav navbar-nav navbar-right">
        <li><a href="/#/profile">${'profile' | t}</a></li>
        <li><a href="" click.delegate="logout()">${'logout' | t}</a></li>
      </ul>  

<!--       <ul class="nav navbar-nav navbar-right">
        <li if.bind="'fi' != language"><a href="#" click.delegate="setLanguage('fi')"><img src="images/finland-icon.png" /></a></li>
        <li if.bind="'en' != language"><a href="#" click.delegate="setLanguage('en')"><img src="images/united-kingdom-icon.png" /></a></li>
      </ul>
 -->
      <ul class="nav navbar-nav navbar-right">
        <li class="loader" if.bind="router.isNavigating">
          <i class="fa fa-spinner fa-spin fa-2x"></i>
        </li>
      </ul>
    </div>
  </nav>
</template>