<template>
	<require from ="./converters/date-format.js"></require>

	<div class="container">

		<h2>${'profile' | t}</h2>
	
        <div if.bind="error" class="alert alert-danger" role="alert">
            <strong>${error | t}</strong>
        </div>
        <div if.bind="success" class="alert alert-success" role="alert">
            <strong>${'profile_saved' | t}</strong>
        </div>       

		<form submit.delegate="update()">


            <div class="input-group input-group-md">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-envelope"></span>
                </span>
                <input class="form-control" type="text" placeholder="${'email' | t}" value.bind="profile.email" disabled>
            </div>

            <br/>

            <div class="input-group input-group-md">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-user"></span>
                </span>
                <input class="form-control" type="text" placeholder="${'username' | t}" value.bind="profile.username">
            </div>

            <br/>

            <div class="input-group input-group-md">
                <span class="input-group-addon">
                	<i class="fa fa-birthday-cake " aria-hidden="true"></i>
                </span>
                <input class="form-control" type="date" placeholder="${'birthdate' | t}" value.bind="profile.birthdate | dateFormat:'YYYY-MM-DD'" 
                       max="${maxBirthdate}" min="${minBirthdate}" required />
            </div>

            <br/>

            <label repeat.for="g of genders">
            	<input type="radio" name="gender" value.bind="g" checked.bind="$parent.selectedGender" required />
            	<i class="fa fa-${g} fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
            </label>

			<br/><br/>

            <div class="input-group input-group-md">
                <span class="input-group-addon">
                	<i class="fa fa-arrows-v " aria-hidden="true"></i>
                </span>
                <input class="form-control" type="number" placeholder="${'height' | t}" value.bind="profile.height" min="50" max="250" required>
            </div>

            <br/>

	 	    <button type="submit"  class="btn btn-lg  btn-block btn-primary">${'update' | t}</button>
 		 </form>

	</div>
</template>