<template>
	<require from = "./login"></require>
   <br/>

	<div class="container">
		<div class="jumbotron">
			<h1>Kehonmittauspalvelu</h1>
			<p>Tämä palvelu on tehty kehonkoostumusmittarilla mitattujen tulosten tallentamista ja myöhempää tarkastelemista varten. Tuloksia tallentaakseni tarvitset käyttäjätilin.</p>
		</div>
	</div>

	<login></login>
  
</template>